export(coefCheck)
export(make.Fterm)
export(make.Coef)
export(make.Model)
export(make.Variable)
export(make.Xterm)
export(Data2LD)
export(Data2LD.opt)
export(fun.explinear)
export(fun.Dexplinear)
export(modelList2Vec)
export(modelVec2List)
export(Btensorfn)
export(BAtensorfn)
export(Atensorfn)
export(getHomoTerm)
export(getForceTerm)

import(fda)
import(Matrix)
import(splines)
import(deSolve)
importFrom("graphics", "lines", "plot")

useDynLib(Data2LD)



